@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Navbar styles  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 70px;
  border-bottom: 1px solid red;
  position: fixed;
  width: 100%;

}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar ul li {
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

.navbar ion-icon {
  font-size: 1.7rem;
}

.logo img {
  width: 65px;
}