@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Navbar styles  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 70px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar ul li {
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

.navbar ion-icon {
  font-size: 1.7rem;
}

.logo img {
  width: 65px;
}

/* Hero styles */

.hero {
  height: 100vh;
  width: 100%;
  padding-top: 100px;
  color: white;
  overflow: hidden;
  background: #030303;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("../images/sample-light-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1060px;
  margin: 20px auto;
  padding: 0 40px;
}

.hero .container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.hero .content {
  width: 540px;
}

.hero .content h3 {
  font-size: 3.8rem;
  line-height: 1.1;
  width: 400px;
}

.hero .content p {
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.7;
}

/* About section styles  */

.about {
  margin: 140px 0;
}

.heading {
  font-size: 3.2rem;
}

.tagline {
  font-size: 1.3rem;
}

.underline {
  height: 2px;
  width: 30px;
  background: #030303;
  margin: 60px 0;
}

.flex-area {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.flex-item h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 16px;
}

.flex-item p {
  line-height: 1.9;
}

.main-btn {
  background: #030303;
  padding: 12px 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 36px;
}

.brands {
  height: auto;
  width: 100%;
  padding: 140px 0;
  color: white;
  overflow: hidden;
  background: #030303;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("../images/sample-light-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.brands .underline {
  background: #fff;
}

.brands-flex img {
  height: 30px;
}

.brands-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Story section styles  */

.story {
  padding: 120px 0;
}

.top-footer {
  background: rgb(1, 103, 204);
  background: linear-gradient(
    90deg,
    rgba(1, 103, 204, 1) 0%,
    rgba(3, 199, 248, 1) 100%
  );
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.top-footer h4 {
  color: #fff;
  font-weight: 400;
  font-size: 1.3rem;
}

.top-footer .main-btn {
  margin: 0;
  background: #fff;
  color: #030303;
  border: none;
  outline: none;
  padding: 14px 20px;
  font-weight: 500;
  transition: all 0.5s ease;
}

.top-footer .main-btn:hover {
  color: #fff;
  background: #030303;
}
